# dependencies
node_modules/
.cache/
dist/
build/
.venv/

# env files
.env
*.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor
.vscode/
.idea/
# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Env
.env